RenderLab/.idea
RenderLab/.vscode
RenderLab/Library
RenderLab/Logs
RenderLab/Temp
RenderLab/obj
RenderLab2/.idea
RenderLab2/obj
RenderLab2/Temp
RenderLab2/Logs
RenderLab2/Library
RenderLab2/UserSettings
Lan/Library
Lan/Temp
Lan/Logs
Lan/obj
Lan/obj
MySRP/.idea
MySRP/Temp
MySRP/Logs
MySRP/Library
MySRP/UserSettings
MySRP/obj
TestShaderGraph/.idea
TestShaderGraph/obj
TestShaderGraph/Library
TestShaderGraph/Logs
TestShaderGraph/UserSettings
MinimalCompute/.idea
DepthOfField/Logs
DepthOfField/Library
DepthOfField/Temp
DepthOfField/UserSettings
DepthOfField/.idea
DepthOfField/obj
LearnSRP/Library
LearnSRP/Library
LearnSRP/Logs
LearnSRP/Temp
LearnSRP/.DS_Store
LearnSRP/UserSettings
LearnSRP/.idea
LearnSRP/obj
LearnSRP/LearnSRP.sln.DotSettings.user
*.DS_Store
Comet/Temp
Comet/.idea
Comet/Library
Comet/Logs
Comet/UserSettings
Comet/obj
